{% extends 'blog/base.html' %}

{% block title %}About - My Blog{% endblock %}

{% block content %}

<h1>About This Blog</h1>
    <p>Welcome to my personal blog where I share my journey learning Django and web development!</p>
    
    <h2>About Me</h2>
    <p>I'm a web developer learning Django to build amazing web applications.</p>
    
    <h2>Technologies</h2>
    <ul>
        <li>Python 3.11</li>
        <li>Django 5.x</li>
        <li>PostgreSQL</li>
        <li>HTML/CSS</li>
    </ul>
    
    <h2>Contact</h2>
    <p>Email: joeniloe@gmail.com</p>
    <p>GitHub: <a href="https://github.com/joyboyy23">@joyboyy23</a></p>
{% endblock %}
